:root {
  /* --main-background: #c09061; */
  --sidebar-background: #e9dbc6;
}

body {
  background-color: black;
}

/* Background Styles */
.background-image {
  position: relative;
  overflow: hidden;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/phandelverScene.webp");
  filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.main-container {
  background-color: white;
  min-height: calc(100vh - 8rem);
}

.sidebar-content {
  background-color: var(--sidebar-background);
}

.sidebar-content {
  height: fit-content;
}

/* Text Styles */

body {
  font-family: "DM Sans", sans-serif;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0, 5rem;
}

.h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0, 5rem;
}

#searchForm {
  height: fit-content;
}

/* TODO: Remove */
#searchResults {
  color: red;
}
