---
import WikiHomepage from '../../layouts/WikiHomepage.astro';
import SearchResultItem from '../../components/SearchResultItem.astro';
import type { Article } from '../../schema/articleSchemas';

import { getCategories , getArticlesOfCategory } from '../api-handler';

export const prerender = true

export async function getStaticPaths() {
  let categories = await getCategories();
  return categories.map((category: string) => {
    return {
      params: {
        slug: category
      }
    };
  });
}

const {slug} = Astro.params;
const articles = await getArticlesOfCategory(slug);

---

<WikiHomepage title=`${(slug as string)[0].toUpperCase()}${(slug as string).substring(1)}`>
    <div class="p-4">
        <ul class="columns-2" id="query-results">
            {articles.map((article: Article) => (
                <SearchResultItem classes="break-inside-avoid  mb-4" href={`/articles/${article.slug}`} title={article.title} description={article.content.mainContentArray[0].text}></SearchResultItem>
            ))}
        </ul>
    </div>
</WikiHomepage>