---
// Import your types and components
import type { Article } from '../schema/articleSchemas';
import { queryArticles } from './api-handler';

let articles: Array<Article> = [];
const { searchParams } = new URL(Astro.request.url);
const query = searchParams.get('query');

if (query) {
    articles = await queryArticles(query);
}

import WikiHomepage from '../layouts/WikiHomepage.astro';
import SearchResultItem from '../components/SearchResultItem.astro';
---
<WikiHomepage title="Search Page">
    <div class="p-4">
    {articles.length > 0 ? (
        <ul class="columns-2" id="query-results">
            {articles.map((article: Article) => (
                <SearchResultItem classes="break-inside-avoid  mb-4" href={`/articles/${article.slug}`} title={article.title} description={article.content.mainContentArray[0].text}></SearchResultItem>
            ))}
        </ul>
    ) : (
        query ? <p>No articles found</p> : <p>Type something in the Search Field to search</p>
    )}
    </div>
</WikiHomepage>
