---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <link rel="stylesheet" href="/globalStyle.css">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="background-image">
			<div class="m-16 p-16 rounded-lg main-container">
				<slot />
			</div>
		</div>
		<script>
			window.transitionToPage =  function (href: string) {
  				document.querySelector("body")!.style.opacity = "0";
  				setTimeout(function () {
    				window.location.href = href;
  				}, 250);
			};
			document.addEventListener('DOMContentLoaded', function(event) {
				setTimeout(() => {
					document.querySelector('body')!.style.opacity = "1"
				}, 250)
			})
		</script>
	</body>
</html>