---
import CustomHead from '../components/CustomHead.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<CustomHead title={title}>
<div class="article-container flex gap-8">
    <div class="w-[66%]">
        <slot name="main-content" />
    </div>
    <div class="w-[33%] p-4 flex flex-col items-center gap-4 sidebar-content">
        <slot name="sidebar-content" />
    </div>
</div>
</CustomHead>